# Search engine strategy: bm25, semantic, fusion
search_engine:
  strategy: fusion

# LLM configuration
llm:
  enable_parser: false
  provider: gemini
  model: gemini-2.0-flash
  temperature: 0.0
  top_p: 0.95

# Indexer paths
indexer:
  semantic:
    index_path: movies_cosine.index
    doc_map_path: id_map.pkl
  bm25:
    index_dir: whoosh_index

# Query parser strategy
parser:
  bm25_strategy: regex  # 'regex' or 'llm' - for BM25 query parsing and filter extraction
  semantic_strategy: regex  # 'regex' or 'llm' - for semantic filter extraction only

# BM25 search options
bm25:
  enable_fuzzy: true
  enable_filters: True
  require_all_terms: false  # If true, all query terms must match (AND); if false, any term can match (OR)

# Semantic search options
semantic:
  apply_filters: true  # Post-filtering on semantic results

# Fusion configuration
fusion:
  strategy: rrf
  k: 60
  semantic_weight: 1
  bm25_weight: 1.25

# Search limits
search:
  bm25_limit: 20
  faiss_k: 100
  final_limit: 50

# Embedding model
embedding:
  # model: nomic-ai/nomic-embed-text-v1  # Lightweight nomic embeddings 
  model : all-MiniLM-L6-v2
